.confetti-button:hover{
	background: darkcyan;
}
.confetti-button:active{
	background: lightcyan;
}

.button-wrapper {
  position: relative;
  width: 200px;
  height: 60px;
  margin: 250px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confetti-button {
  text-align: center;
  width: 240px;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px;
}