*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
}

#bulb{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: 3px solid #000;
}

button{
	padding: 10px 30px;
	margin: 80px;
	border-radius: 10px;
	background-color: cyan;
	font-weight: 600;
	cursor: pointer;
}